<%- include('partial/header') -%>

        <main class="form-signin">
            <form action="/change" method="post">
              <img class="mb-4" src="/images/user.png" alt="" width="52" height="48">
              <h1 class="h3 mb-3 fw-normal">Change password</h1>
               <% if(passwordChanged){ %>
                <span style="color: green;">Password successfully changed.</span>
               <% } %>

              <div class="form-floating">
                <input type="password" class="form-control shadow-none" id="floatingPassword" name="oldpassword" placeholder="Old password" required>
                <label for="floatingPassword">Old password</label>
                 <% if(passwordNotExist){ %>
                  <span style="color: red;">Your old password is incorrect.</span>
                 <% } %>
                
              </div>

              <div class="form-floating">
                <input type="password" class="form-control shadow-none" id="floatingPassword" name="newpassword" placeholder="New password" required>
                <label for="floatingPassword">New password (8 + characters)</label>
              </div>

              <div class="form-floating">
                <input type="password" class="form-control shadow-none" id="floatingPassword" name="confirmpassword" placeholder="Confirm password" required>
                <label for="floatingPassword">Confirm password (8 + characters)</label>
                  <% if(passwordNotMatch){ %>
                    <span style="color: red;">Password not match.</span>
                  <% } %>
                  <% if(passwordLessThenHeightChar ){ %>
                    <span style="color: red;">Password must be at least 8 characters.</span>
                  <% } %>
                
              </div>


              <button class="w-100 btn btn-lg btn-primary" type="submit">Change</button>
              
            </form>
          </main>

<%- include('partial/footer') -%>