<%- include('partial/header') -%>

        <main class="form-signin">
            <form action="/reset" method="post">
              <img class="mb-4" src="/images/user.png" alt="" width="52" height="48">
              <h1 class="h3 mb-3 fw-normal">Reset password</h1>
              <%if(reset){%>
                  <p class="text-success mt-2">
                    A new password has been sent to your email, please check both your inbox and spam.
                  </p>
              <%}%>
              <%if(notReset){%>
                <p class="text-danger mt-2">Failed to reset password, please try again.</p>
              <%}%>
          
              <div class="form-floating mb-3">
                <input type="email" class="form-control shadow-none" id="floatingInput" name="email" placeholder="name@example.com" autocomplete="off" required>
                <label for="floatingInput">Email address</label>
               <% if(emailNotExist){ %>
                  <span style="color: red;">Incorrect Email address.</span>
                <% } %>
              </div>
          
              <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
              
            </form>
          </main>

<%- include('partial/footer') -%>